/* Локальные шрифты из папки public/font */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/font/Montserrat-Regular_1.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/font/Montserrat-Medium_1.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/font/Montserrat-SemiBold_1.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/font/Montserrat-SemiBold_1.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/font/Montserrat-Regular_1.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('/font/Montserrat-Medium_1.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('/font/Montserrat-SemiBold_1.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Alternates-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('/font/MontserratAlternates-SemiBold_2.ttf') format('truetype');
}